#title {
    -webkit-user-select: none;    
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;

    z-index: 998;
    display: flex;
    margin: 0 0 50vh 20.5%;
    height: 46px;

    -webkit-box-shadow: 0px 0px 31px 21px #102347; 
    box-shadow: 0px 0px 31px 21px #102347;
    background-color: #102347;
}
#title-col {
    width: 100%;
    height: 46vh;
    background-color: #102347;
}

#title h1 {
    font-size: 48px;
    margin-right: 2px;
    font-weight: 500;
}

@keyframes cursor-flicker {
    0% {opacity: 80%;}
    20% {opacity: 0%;}
    50% {opacity: 0%;}
    70% {opacity: 80%;}
}
@keyframes content-in {
    0% {opacity: 0%; transform: skew(-2deg, -2deg);}
    100% {opacity: 100%; transform: skew(0, 0);}
}

::-webkit-scrollbar {
    display: none;
}

#title div {
    opacity: 80%;
    height: auto;
    margin-left: 2px;
    width: 4px;
    background-color: white;
    animation-name: cursor-flicker;
    animation-duration: 1.5s;
    animation-iteration-count: infinite;
}

#folder {
    z-index: 995;
    transition-duration: 0.2s;
    transition-timing-function: ease-out;

    width: 800px;
    height: 270px;
    position: fixed;
    bottom: -100px;left: 50%;
    transform: translateX(-50%);

    background-color: #0c1d3b;
    -webkit-clip-path: polygon(60% 20%, 80% 0, 100% 0, 100% 100%, 0 100%, 0 20%);
    clip-path: polygon(60% 20%, 80% 0, 100% 0, 100% 100%, 0 100%, 0 20%);

}
#folder-bg {
    z-index: -995;
    transition-duration: 0.2s;
    transition-timing-function: ease-out;

    

    width: 800px;
    height: 317px;
    position: fixed;
    bottom: -100px;left: 50%;
    transform: translateX(-50%);

    background-color: #081329;
    -webkit-clip-path: polygon(29% 0, 53% 23%, 100% 23%, 100% 100%, 0 100%, 0 0);
    clip-path: polygon(20% 0, 40% 15%, 100% 15%, 100% 100%, 0 100%, 0 0);
}

#top {
    z-index: 995;
    position: fixed;
    top: 0; left:0;
    width: 100%;
    height: 0px;

    background-color: #102347;
    -webkit-box-shadow: 0px 11px 42px 37px #102347; 
    box-shadow: 0px 11px 42px 37px #102347;
}


.content-box {
    /*animation-name: content-in;
    animation-duration: 0.5s;
    animation-timing-function:ease-out;
    animation-fill-mode:forwards;*/

    background-color: #eeeeee;
    color: black;
    width: 600px;
    height: 1270px;
    margin: 30px 0 0 50%;
    transform: translateX(-50%);
    overflow: hidden;
    padding: 30px;
}
.content-box:last-of-type {
    margin-bottom: 162px;
}

.link-button {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;

    width: calc(100% - 60px);
    display: flex;
    height: 50px;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px 10px 20px;
    border-radius: 20px;
    background-color: rgba(0, 0, 0, 0.1);
    color: rgba(0, 0, 0, 0.7);
    margin: 0 0 10px 0;
}
.link-button:hover { border-bottom: none; }
.link-button:active { border-bottom: none; }

.inline-link > a{
    display: flex;
    align-items: center;
    gap: 10px;
}
.inline-link > a * {
    flex-grow: 0;
}
.inline-link {
    display: inline-block
}

@media (max-width: 900px) {
    #folder {
        width: 95vw;
    }
    #folder-bg {
        width: 95vw;
    }
    .content-box {
        width: 75vw;
        max-width: 75vw;
    }
}